.main {
    background-color: #000000;
    color: #fff;
        padding: 5px;
        text-align: center;
    font-size: 18px;
    left: 0;
    right: 0;
}

.titlebar {
    background-color: #000000;
        color: #fff;
        padding: 5px;
        text-align: center;
    font-size: 18px;
    left: 0;
    right: 0;
}

h1, h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

p {
    font-family: Calibri, Arial, sans-serif;
}

.backbutton {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.backbutton:hover {
    background-color: #fff;
    color: #000;
}
